.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* MEDIA QUERY */
/* Tablet size */
@media screen and (max-width: 768px) {
  .row {
    width: 650px;
    font-size: 18px;
    background-color: rgb(139, 156, 201);
    color: white;
    margin: auto;
    padding: 0;
  }
  .row h3 {
    font-size: 35px;
  }
  img {
    height: 120px;
  }
  #why .row {
    padding: 0 20px;
  }
}



/* Mobile size */
@media screen and (max-width: 419px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .row {
    width: 400px;
    font-size: 14px;
    background-color: rgb(180, 135, 135);
    color: white;
    margin: 10px auto;
    padding: 10px;
  }
  #lezioni .row>.left,
  #lezioni .row>.right {
  width: 40%;
  float: left;
}
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 30%;
  }
  #why .row>.first, 
  #why .row>.second, 
  #why .row>.third {
    margin-top: 30px;
  }
  .row h3 {
    font-size: 20px;
  }
  img {
    height: 90px;
  }
  .row .div {
    width: 30%;
    margin: 0 5px;
  }
}